@use'../../foundation/variables' as v;

.flex {
    display: flex;
    align-items: center;

    &-row {
        flex-direction: row;
    }

    &-column {
        flex-direction: column;
    }

    &-reverse {
        flex-wrap: wrap-reverse;

        @include v.tab {
            flex-wrap: nowrap;
        }
    }

    &-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

}