@use'../../foundation/variables' as v;

.label{
    // &-required {
    //     // color: v.$base-white;
    //     // background-color: v.$text-error;
    //     font-size: 10px;
    //     display: block;
    //     padding: 4px 8px;
    //     border-radius: 4px;
    //     line-height: 10px;
    //     font-weight: normal;
    //     @include v.tab{
    //         font-size: 12px;
    //     }
    // }
}

.label-blue{
    background-color: v.$back-blue;
    width: 442px;
    border-radius: 13px;
    margin: 0 auto;
    padding: 10px 0;
    position: relative;
    margin-bottom: 12px;

    &::after{
        position: absolute;
        content: "";
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-top: 26px solid v.$back-blue;
        border-bottom: 0;
    }
    p{
        text-align: center;
        color: v.$base-white;
        font-size: 20px;
        // font-family: ;
        line-height: calc(27/20);
    }
}


.lable-official{
    position: relative;
    text-align: center;
    display: inline-block;
}
.lable-official_text{
    display: block;
    color: v.$text-orange;
    font-size: 18px;
    line-height: calc(26/18);
    letter-spacing: 0.07em;
    padding-bottom: 5px;
    position: relative;

    &:before,
    &:after{
        position: absolute;
        content: "";
        top: 35%;
    }
    &:before{
        border-right: 2px solid v.$text-orange;
        height: 16px;
        left: 21%;
        transform: rotate(-35deg);
    }
    &:after{
        border-right: 2px solid v.$text-orange;
        height: 16px;
        right: 24%;
        transform: rotate(35deg);
    }
}
.lable-official_num{
    font-size: 22px;
    line-height: calc(32/22);
    text-align: center;
}

.lable-official_link{
    display: inline-block;
    color: v.$base-white;
    background-color: v.$text-orange;
    font-size: 20px;
    line-height: calc(29/20);
    width: 300px;
    text-align: center;
    padding: 15px 0;
    border-radius: 10px;
    box-shadow: 03px 6px 6px 0px rgba(0, 0, 0, 0.16);
}
