@charset "UTF-8";
/*
 * foundation
 */
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

/*ベースとしてフォントはNoto_Sans_Jpを読み込ませる*/
body {
  font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-weight: 700;
  color: #000000;
  line-height: 1.6;
}

.container {
  width: min(100% - 30px, 1000px);
  margin: 0 auto;
}

.container-table {
  width: min(100%, 1000px);
  margin: 0 auto;
}

.section-padding {
  padding: 40px 0;
}
@media (min-width: 768px) {
  .section-padding {
    padding: 60px 0;
  }
}
@media (min-width: 1024px) {
  .section-padding {
    padding: 120px 0;
  }
}

.section-padding_top {
  padding: 40px 0 0;
}
@media (min-width: 768px) {
  .section-padding_top {
    padding: 60px 0 0;
  }
}
@media (min-width: 1024px) {
  .section-padding_top {
    padding: 120px 0 0;
  }
}

.section-padding_bottom {
  padding: 0 0 40px;
}
@media (min-width: 768px) {
  .section-padding_bottom {
    padding: 0 0 60px;
  }
}
@media (min-width: 1024px) {
  .section-padding_bottom {
    padding: 0 0 120px;
  }
}

/*デフォルトのテキストリンクカラーを指定する*/
a {
  text-decoration: none;
  color: #1A7AB1;
}

address {
  font-style: normal;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}

h2 {
  font-size: 20px;
  font-weight: 700;
}
@media (min-width: 768px) {
  h2 {
    font-size: 24px;
  }
}
@media (min-width: 1024px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-size: 18px;
  font-weight: 700;
}
@media (min-width: 768px) {
  h3 {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  h3 {
    font-size: 28px;
  }
}

@media (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}
.grecaptcha-badge {
  visibility: hidden;
}

/*
 * layout
 */
main {
  margin-top: 80px;
}
@media (min-width: 1024px) {
  main {
    margin-top: 105px;
  }
}

/*
 * object
 */
@media (min-width: 768px) {
  .display-visible_sp {
    display: none;
  }
}
@media (min-width: 1024px) {
  .display-visible_tab {
    display: none;
  }
}
@media (min-width: 1280px) {
  .display-visible_lt {
    display: none;
  }
}

.display-invisible_sp {
  display: none;
}
@media (min-width: 768px) {
  .display-invisible_sp {
    display: block;
  }
}
.display-invisible_tab {
  display: none;
}
@media (min-width: 768px) {
  .display-invisible_tab {
    display: block;
  }
}
.display-invisible_lt {
  display: none;
}
@media (min-width: 1024px) {
  .display-invisible_lt {
    display: block;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flex-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
@media (min-width: 768px) {
  .flex-reverse {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.label-blue {
  background-color: #36B6FF;
  width: 345px;
  border-radius: 13px;
  margin: 0 auto;
  padding: 10px 0;
  position: relative;
  margin-bottom: 12px;
  z-index: 2;
}
@media (min-width: 768px) {
  .label-blue {
    width: 442px;
    border-radius: 13px;
    padding: 10px 0;
  }
}
.label-blue::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-top: 26px solid #36B6FF;
  border-bottom: 0;
  z-index: -1;
}
.label-blue p {
  text-align: center;
  color: #FFFFFF;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 18px;
  line-height: 1.3333333333;
}
@media (min-width: 768px) {
  .label-blue p {
    font-size: 20px;
    line-height: 1.35;
  }
}

.lable-official {
  position: relative;
  text-align: center;
  display: inline-block;
}

.lable-official_text {
  display: block;
  color: #FF8955;
  font-size: 18px;
  line-height: 1.4444444444;
  letter-spacing: 0.07em;
  padding-bottom: 5px;
  position: relative;
}
.lable-official_text:before, .lable-official_text:after {
  position: absolute;
  content: "";
  top: 20%;
}
.lable-official_text:before {
  border-right: 2px solid #FF8955;
  height: 16px;
  left: 21%;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}
.lable-official_text:after {
  border-right: 2px solid #FF8955;
  height: 16px;
  right: 24%;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.lable-official_num {
  font-size: 20px;
  line-height: 1.45;
  text-align: center;
}
@media (min-width: 768px) {
  .lable-official_num {
    font-size: 22px;
    line-height: 1.4545454545;
  }
}

.lable-official_link {
  display: inline-block;
  color: #FFFFFF;
  background-color: #FF8955;
  font-size: 20px;
  line-height: 1.45;
  width: 300px;
  text-align: center;
  padding: 15px 0;
  border-radius: 10px;
  -webkit-box-shadow: 3px 6px 6px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 6px 6px 0px rgba(0, 0, 0, 0.16);
}

.title-h2 {
  text-align: center;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  color: #000000;
  margin-bottom: 43px;
}
@media (min-width: 768px) {
  .title-h2 {
    margin-bottom: 55px;
  }
}

.title-h2_orange {
  color: #FF8955;
}

.title-h2_num {
  font-size: 52px;
  line-height: 0.962962963;
}
@media (min-width: 768px) {
  .title-h2_num {
    line-height: 1.3269230769;
  }
}

.title-h3 {
  font-size: 20px;
  line-height: 1.45;
  color: #1A7AB1;
  margin: 0 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #1A7AB1;
  position: relative;
}
@media (min-width: 768px) {
  .title-h3 {
    padding-left: 40px;
    font-size: 28px;
    line-height: 1.4285714286;
    padding-bottom: 15px;
  }
}
.title-h3:after {
  position: absolute;
  content: "";
  width: 125px;
  border-bottom: 4px solid #1A7AB1;
  bottom: -2px;
  left: 0;
}
@media (min-width: 768px) {
  .title-h3:after {
    width: 310px;
  }
}

.title-h4 {
  font-size: 20px;
  line-height: 1.6;
  color: #1A7AB1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, transparent), color-stop(0, rgba(255, 137, 85, 0.3)));
  background: linear-gradient(transparent 75%, rgba(255, 137, 85, 0.3) 0);
  margin-bottom: 10px;
  display: inline;
}
@media (min-width: 768px) {
  .title-h4 {
    font-size: 28px;
    line-height: 1.4285714286;
    margin-bottom: 15px;
    text-align: left;
  }
}

.breadcrumbs {
  display: none;
  width: min(100% - 32px, 1080px);
  height: 36px;
  line-height: 36px;
  gap: 8px;
  font-size: 12px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.breadcrumbs-arrow {
  content: "";
  background-size: cover;
  display: block;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.top-fv {
  background-image: url(/wp-content/themes/nicojob/assets/img/top/fv_spimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 0 235px 0;
}
@media (min-width: 768px) {
  .top-fv {
    background-image: url(/wp-content/themes/nicojob/assets/img/top/fv_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
    padding: 40px 0 65px 0;
    position: relative;
  }
}

.top-fv_itemFlex {
  gap: 7px;
}
@media (min-width: 768px) {
  .top-fv_itemFlex {
    gap: 10px;
  }
}

.top-fv_item {
  border: 1px solid #1A7AB1;
  color: #1A7AB1;
  background-color: #FFFFFF;
  font-size: 15px;
  line-height: 1.4;
  padding: 5px 20px 8px 18px;
}
@media (min-width: 768px) {
  .top-fv_item {
    padding: 6px 30px 7px 26px;
    font-size: 18px;
    line-height: 1.4444444444;
  }
}

.top-fv_desc {
  font-size: 20px;
  line-height: 1.45;
  letter-spacing: 0.004em;
  position: relative;
}
@media (min-width: 768px) {
  .top-fv_desc {
    font-size: 30px;
    line-height: 1.4666666667;
  }
}

.top-fv_descLine {
  position: absolute;
  content: "";
  border-bottom: 2px solid #1A7AB1;
  left: 0;
  bottom: -5px;
  width: 60px;
}
@media (min-width: 768px) {
  .top-fv_descLine {
    width: 140px;
  }
}
.top-fv_descLine::before, .top-fv_descLine:after {
  position: absolute;
  content: "";
}
.top-fv_descLine::before {
  bottom: -10px;
  right: -15px;
  border-bottom: 2px solid #1A7AB1;
  width: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.top-fv_descLine:after {
  border-bottom: 2px solid #1A7AB1;
  bottom: -2px;
  left: 75px;
  width: 115px;
}
@media (min-width: 768px) {
  .top-fv_descLine:after {
    left: 155px;
    width: 330px;
  }
}

.top-fv_descBlue {
  color: #1A7AB1;
}

.top-fv_descSmall {
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
}
@media (min-width: 768px) {
  .top-fv_descSmall {
    font-size: 24px;
    line-height: 1.4583333333;
  }
}

.top-fv_descEng {
  color: #1A7AB1;
  font-size: 28px;
  line-height: 1.4285714286;
  letter-spacing: 0;
}
@media (min-width: 768px) {
  .top-fv_descEng {
    font-size: 42px;
    line-height: 1.487804878;
    padding-left: 5px;
  }
}

.top-fv_subTitle {
  font-size: 20px;
  line-height: 1.7;
  letter-spacing: 0.05em;
  display: inline-block;
  color: #FF8955;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(0, rgba(255, 137, 85, 0.3)));
  background: linear-gradient(transparent 70%, rgba(255, 137, 85, 0.3) 0);
  padding-top: 20px;
}
@media (min-width: 768px) {
  .top-fv_subTitle {
    padding-top: 30px;
    font-size: 30px;
    line-height: 1.7666666667;
  }
}

.top-fv_title {
  font-size: 44px;
  line-height: 1.3409090909;
}
@media (min-width: 768px) {
  .top-fv_title {
    font-size: 94px;
    line-height: 1.2659574468;
  }
}

.top-fv_titleFlex {
  gap: 7px;
}
@media (min-width: 768px) {
  .top-fv_titleFlex {
    gap: 20px;
  }
}

.top-fv_titleFrame {
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  background-color: #1A7AB1;
  color: #FFFFFF;
  padding: 5px 15px 5px 10px;
}
@media (min-width: 768px) {
  .top-fv_titleFrame {
    font-size: 34px;
    line-height: 1.5333333333;
    padding: 5px 23px 5px 19px;
  }
}

.top-fv_titleBlue {
  font-size: 26px;
  line-height: 1.5;
  color: #1A7AB1;
  letter-spacing: 0.03em;
}
@media (min-width: 768px) {
  .top-fv_titleBlue {
    font-size: 50px;
    line-height: 2.2333333333;
  }
}

.top-fv_titleNum {
  color: #FF8955;
  font-size: 94px;
  line-height: 0.4787234043;
}
@media (min-width: 768px) {
  .top-fv_titleNum {
    font-size: 177px;
    line-height: 0.4745762712;
  }
}

.top-fv_titleOrange {
  color: #FF8955;
}

.top-table {
  margin: -160px auto 50px 0;
}
@media (min-width: 768px) {
  .top-table {
    margin: -60px auto 105px 0;
  }
}
.top-table td {
  vertical-align: middle;
}

.top-tables {
  position: relative;
  z-index: 2;
  margin: 0 auto;
}

.top-table_item {
  text-align: center;
  color: #FFFFFF;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 12px;
  line-height: 1.3333333333;
  border: 1px solid #36B6FF;
  border-bottom: 1px solid #FFFFFF;
  width: 60px;
}
@media (min-width: 1024px) {
  .top-table_item {
    width: 150px;
    font-size: 20px;
    line-height: 1.35;
  }
}

.top-table_itemLast {
  border-bottom: 1px solid #36B6FF;
}

.top-table_fourth,
.top-table_sixth {
  padding: 20px 0;
}

.top-table_fifth {
  padding: 30px 0;
}

.top-table_white {
  background-color: transparent;
  border: 1px solid transparent;
  border-right: 1px solid #36B6FF;
}

.top-table_blue {
  background-color: #36B6FF;
}

.top-table_head {
  border: 1px solid #36B6FF;
  padding: 15px 0 20px 0;
  background-color: #FFFFFF;
  text-align: center;
}
.top-table_head img {
  width: 230px;
}

.top-table_head1 {
  position: relative;
}

.top-table_headNoImg {
  position: absolute;
  top: -50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
  width: 60px;
}
@media (min-width: 1024px) {
  .top-table_headNoImg {
    top: -20%;
    left: 2%;
    width: 85px;
  }
}

.top-table_column1 {
  width: 108px;
}
@media (min-width: 1024px) {
  .top-table_column1 {
    width: 311px;
  }
}

.top-table_column2 {
  width: 108px;
}
@media (min-width: 1024px) {
  .top-table_column2 {
    width: 272px;
  }
}

.top-table_column3 {
  width: 98px;
}
@media (min-width: 1024px) {
  .top-table_column3 {
    width: 272px;
  }
}

.top-table_headImg {
  width: 82px;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .top-table_headImg {
    width: 195px;
    padding-right: 15px;
    margin-left: auto;
  }
}

.top-table_line {
  position: relative;
}
.top-table_line::after {
  position: absolute;
  content: "";
  border: 4px solid #FF8955;
  top: -1px;
  left: -1px;
  width: 101%;
  height: 616px;
  z-index: 2;
}
@media (min-width: 1024px) {
  .top-table_line::after {
    height: 686px;
  }
}

.top-table_headlink {
  display: block;
  text-align: center;
  text-decoration: underline;
  color: #000000;
  font-weight: 500;
  line-height: 1.5;
  font-size: 12px;
}
@media (min-width: 1024px) {
  .top-table_headlink {
    font-size: 20px;
    line-height: 1.5;
  }
}

.top-table_lblue {
  background-color: #F0F9FC;
}

.top-table_text {
  text-align: center;
  color: #000000;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 11px;
  line-height: 1.4545454545;
  border: 1px solid #36B6FF;
  background-color: #FFFFFF;
  padding: 10px 0;
}
@media (min-width: 1024px) {
  .top-table_text {
    font-size: 20px;
    line-height: 1.5;
    padding: 20px 0;
  }
}

.top-table_circleText {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 14px;
  line-height: 1.3571428571;
  text-align: center;
  border: 1px solid #36B6FF;
  position: relative;
}
@media (min-width: 1024px) {
  .top-table_circleText {
    font-size: 18px;
    line-height: 1.3333333333;
  }
}
.top-table_circleText img {
  width: 60px;
}
.top-table_circleText p {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.top-table_reviews {
  text-align: center;
  border: 1px solid #36B6FF;
}
.top-table_reviews img {
  width: 80px;
}
.top-table_reviews a {
  display: block;
  font-size: 15px;
  line-height: 1.3333333333;
  color: #FD0202;
  text-decoration: underline;
}
@media (min-width: 1024px) {
  .top-table_reviews a {
    display: inline-block;
    font-size: 20px;
    line-height: 1.35;
  }
}

.top-table_link {
  border: 1px solid #36B6FF;
}
.top-table_link a {
  display: block;
  margin: 0 auto;
  width: 70px;
  text-align: center;
  background-color: #FF8955;
  border-radius: 6px;
  color: #FFFFFF;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 14px;
  line-height: 1.2857142857;
  padding: 7px 0;
  -webkit-box-shadow: 0px 3px 6px 6px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px 6px 0px rgba(0, 0, 0, 0.16);
}
@media (min-width: 1024px) {
  .top-table_link a {
    width: 210px;
    font-size: 21px;
    line-height: 1.3333333333;
    border-radius: 10px;
    padding: 15px 0;
  }
}

.top-site {
  background-color: #F0F9FC;
  padding: 50px 0;
}
@media (min-width: 1024px) {
  .top-site {
    padding: 100px 0;
  }
}

.top-site_title {
  font-size: 36px;
  line-height: 1.5;
}
@media (min-width: 1024px) {
  .top-site_title {
    font-size: 39px;
    line-height: 1.3333333333;
  }
}

.top-site_titleSpan {
  font-size: 28px;
  line-height: 1.9285714286;
}

.top-site_official {
  text-align: center;
  padding-bottom: 40px;
  position: relative;
}

.top-site_lists {
  list-style-type: disc;
  padding-left: 20px;
  color: #1A7AB1;
  padding-bottom: 35px;
}
@media (min-width: 1024px) {
  .top-site_lists {
    padding-bottom: 35px;
  }
}

.top-site_list {
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 2px;
}
@media (min-width: 1024px) {
  .top-site_list {
    font-size: 18px;
    line-height: 1.4444444444;
    padding-bottom: 7px;
  }
}
.top-site_list:last-of-type {
  padding-bottom: 0;
}
.top-site_list span {
  color: #FF8955;
}

.top-site_item {
  background-color: #FFFFFF;
  padding-top: 20px;
  margin-bottom: 40px;
  width: 345px;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .top-site_item {
    margin-bottom: 50px;
    width: 100%;
  }
}
.top-site_item:last-of-type {
  margin-bottom: 0;
}

.top-site_item--flex {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  padding: 20px 15px 20px 15px;
}
@media (min-width: 1024px) {
  .top-site_item--flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 40px;
    padding: 25px 40px 20px 40px;
  }
}

.top-site_box {
  margin: 0 auto;
}

.top-site_item--img {
  width: 160px;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .top-site_item--img {
    width: 324px;
  }
}

.top-site_line {
  text-align: center;
  padding-bottom: 15px;
}
@media (min-width: 1024px) {
  .top-site_line {
    text-align: left;
  }
}

.top-site_flex {
  background-color: #F0F9FC;
  position: relative;
}
@media (min-width: 1024px) {
  .top-site_flex {
    padding-top: 0;
    gap: 30px;
  }
}

.top-site_blue {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 2;
  padding: 4px 41px 7px 15px;
  background-color: #1A7AB1;
  -webkit-clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  text-align: center;
  position: absolute;
  top: -20px;
}
@media (min-width: 1024px) {
  .top-site_blue {
    font-size: 18px;
    line-height: 1.4444444444;
    padding: 30px 24px 30px 16px;
    -webkit-clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
    position: static;
  }
}

.top-site_lblue {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 25px 15px 6px 15px;
}
@media (min-width: 1024px) {
  .top-site_lblue {
    padding: 0;
    padding-right: 27px;
  }
}

.top-site_lblue--text {
  font-weight: 500;
  line-height: 1.4;
  color: #1A7AB1;
  border-bottom: 3px dashed rgba(26, 122, 177, 0.4);
  font-size: 15px;
  padding: 5px 0;
}
@media (min-width: 1024px) {
  .top-site_lblue--text {
    font-size: 16px;
    line-height: 1.5;
  }
}
.top-site_lblue--text:first-of-type {
  padding-top: 0;
}
.top-site_lblue--text:last-of-type {
  border: none;
  padding-bottom: 0;
}

.top-site_review {
  display: inline-block;
  margin-left: auto;
  padding-right: 5px;
  position: relative;
  padding-top: 10px;
}
@media (min-width: 1024px) {
  .top-site_review {
    position: absolute;
    right: 45px;
    bottom: 40px;
    padding-top: 0;
  }
}
.top-site_review p {
  border-bottom: 1px solid #1A7AB1;
}
.top-site_review img {
  width: 17px;
}

.top-site_review--flex {
  gap: 10px;
}

.top-flow {
  padding: 50px 0 50px 0;
}
@media (min-width: 768px) {
  .top-flow {
    padding: 90px 0 100px 0;
  }
}

.top-flow_label {
  width: 245px;
}
@media (min-width: 768px) {
  .top-flow_label {
    width: 348px;
  }
}

.top-flow_title {
  font-size: 34px;
  line-height: 1.2352941176;
}
@media (min-width: 768px) {
  .top-flow_title {
    font-size: 38px;
    line-height: 1.3421052632;
  }
}

.top-flow_titleSpan {
  font-size: 28px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .top-flow_titleSpan {
    font-size: 32px;
    line-height: 1.34375;
  }
}

.top-flow_step {
  padding-bottom: 55px;
}

.top-flow_step--flex {
  gap: 20px 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-flow_item {
  width: calc(50% - 84px);
  height: 57px;
}
@media (min-width: 1024px) {
  .top-flow_item {
    width: calc(33.3333333333% - 81.6666666667px);
    height: 57px;
  }
}

.top-flow_item--flex {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 1px solid #3284C1;
  height: 57px;
  padding-bottom: 10px;
}

.top-flow_item--nums {
  text-align: center;
}

.top-flow_item--step {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 11px;
  line-height: 7.2727272727;
  color: #2E83C1;
}
@media (min-width: 1024px) {
  .top-flow_item--step {
    line-height: 8.9090909091;
  }
}

.top-flow_item--num {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 32px;
  line-height: 1.34375;
  color: #2E83C1;
  opacity: 25%;
  margin-top: -40px;
}
@media (min-width: 1024px) {
  .top-flow_item--num {
    font-size: 38px;
    line-height: 0.7450980392;
  }
}

.top-flow_item--textFlex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 10px;
}
@media (min-width: 1024px) {
  .top-flow_item--textFlex {
    gap: 20px;
  }
}

.top-flow_item--text {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  line-height: 1.3125;
  color: #000000;
  text-align: center;
}
@media (min-width: 1024px) {
  .top-flow_item--text {
    font-size: 18px;
    line-height: 1.3333333333;
  }
}

.top-flow_circle {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #000000;
  border-radius: 50%;
  position: relative;
}
.top-flow_circle::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 7px solid #000000;
  border-bottom: 0;
  top: 35%;
  right: 25%;
}

.top-flow_detailItems {
  padding-bottom: 100px;
}
.top-flow_detailItems:last-of-type {
  padding-bottom: 0;
}

.top-flow_detail--stepFlex {
  width: 345px;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .top-flow_detail--stepFlex {
    width: 100%;
  }
}

.top-flow_detail--step {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  line-height: 6.125;
  color: #2E83C1;
  padding-right: 12px;
}

.top-flow_detail--num {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 57px;
  line-height: 1.3333333333;
  color: #3284C1;
  opacity: 0.25;
  padding-right: 17px;
}

.top-flow_detail--text {
  font-size: 24px;
  line-height: 1.3333333333;
  color: #000000;
}
@media (min-width: 1024px) {
  .top-flow_detail--text {
    font-size: 28px;
    line-height: 1.3214285714;
  }
}

.top-flow_detailItemFlex {
  gap: 35px;
}
@media (min-width: 1024px) {
  .top-flow_detailItemFlex {
    gap: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.top-flow_detail--blueText {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 1.4444444444;
  text-align: center;
  background-color: #36B6FF;
  width: 227px;
  padding: 4px 0;
  position: absolute;
  top: -20px;
  z-index: 2;
}

.top-flow_detail--backBlue {
  position: relative;
}

.top-flow_detail--clip {
  width: 345px;
  max-width: 100%;
  background-color: #F0F9FC;
  -webkit-clip-path: polygon(0 1%, 100% 0%, 100% 85%, 50% 100%, 0 85%);
          clip-path: polygon(0 1%, 100% 0%, 100% 85%, 50% 100%, 0 85%);
  padding: 30px 15px 55px 15px;
}
@media (min-width: 1024px) {
  .top-flow_detail--clip {
    width: 500px;
    -webkit-clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
    padding: 36px 20px 15px 30px;
  }
}

.top-flow_detail--list {
  gap: 20px;
}

.top-flow_detail--listNum,
.top-flow_detail--listText {
  line-height: 1.875;
  color: #1A7AB1;
}

.top-flow_detail--listNum {
  position: relative;
}
.top-flow_detail--listNum:after {
  position: absolute;
  content: "";
  border-right: 1px solid #1A7AB1;
  height: 15px;
  bottom: 8px;
  right: -50%;
}

.top-flow_detailItem--example {
  border: 1px solid #3284C1;
  width: 345px;
  max-width: 100%;
  position: relative;
}
@media (min-width: 1024px) {
  .top-flow_detailItem--example {
    width: 480px;
  }
}

.top-flow_detailItem--exampleTitle {
  position: absolute;
  top: -15px;
  left: 15px;
  z-index: 2;
  color: #1A7AB1;
  background-color: #FFFFFF;
  font-size: 18px;
  line-height: 1.4444444444;
  border: 1px solid #3284C1;
  padding: 0 40px 5px 25px;
}

.top-flow_detailItem--exampleLists {
  padding: 36px 15px 18px 15px;
}
@media (min-width: 1024px) {
  .top-flow_detailItem--exampleLists {
    padding: 36px 30px 21px 40px;
  }
}

.top-flow_detailItem--exampleList {
  gap: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.top-flow_detail--exampleListNum {
  position: relative;
}
.top-flow_detail--exampleListNum:after {
  position: absolute;
  content: "";
  border-right: 1px solid #000000;
  height: 15px;
  bottom: 8px;
  right: -50%;
}

.top-flow_detail--exampleListNum,
.top-flow_detail--exampleListText {
  line-height: 1.875;
  color: #000000;
}

.top-flow_detail--exampleText {
  color: #000000;
  line-height: 1.5;
  padding: 36px 15px 18px 15px;
}
@media (min-width: 1024px) {
  .top-flow_detail--exampleText {
    padding: 47px 30px 40px 40px;
  }
}

.top-flow_detail--img {
  margin: 0 auto;
  width: 80px;
  padding-top: 30px;
}

.top-flow_detailItemTextBox {
  text-align: center;
  margin: 0 auto;
  width: 345px;
}
@media (min-width: 1024px) {
  .top-flow_detailItemTextBox {
    width: 100%;
  }
}

.top-flow_detailItemText {
  border: 1px solid #3284C1;
  line-height: 1.875;
  padding: 20px 15px;
}
.top-flow_detailItemText span {
  color: #FF8955;
}

.top-flow_detailItemRightImg {
  width: 495px;
}

.top-faq {
  background-color: #F0F9FC;
  padding: 49px 0 71px 0;
}
@media (min-width: 768px) {
  .top-faq {
    padding: 98px 0 130px 0;
  }
}

.top-faq_title {
  font-size: 34px;
  line-height: 1.2352941176;
}
@media (min-width: 768px) {
  .top-faq_title {
    font-size: 38px;
    line-height: 1.3157894737;
  }
}

.top-faq_titleSpan {
  font-size: 28px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .top-faq_titleSpan {
    font-size: 32px;
    line-height: 1.5625;
  }
}

.top-faq_item {
  width: 345px;
  margin: 0 auto 40px auto;
}
@media (min-width: 768px) {
  .top-faq_item {
    max-width: 800px;
    width: 100%;
  }
}

.top-faq_qFlex--symbol {
  position: relative;
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
.top-faq_qFlex--symbol:before, .top-faq_qFlex--symbol::after {
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.top-faq_qFlex--symbol:before {
  border-top: solid 2px #1A7AB1;
  left: 50%;
  top: 50%;
  width: 16px;
}
.top-faq_qFlex--symbol::after {
  border-right: solid 2px #1A7AB1;
  height: 16px;
  left: 50%;
  top: 50%;
}

.top-faq_qFlex--symbol.open::after {
  top: 19%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.top-faq_q {
  font-size: 25px;
  line-height: 1.32;
  color: #1A7AB1;
}

.top-faq_qesText {
  font-size: 16px;
  line-height: 1.5;
  color: #1A7AB1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (min-width: 768px) {
  .top-faq_qesText {
    font-size: 18px;
    line-height: 1.3333333333;
  }
}

.top-faq_qFlex {
  background-color: #FFFFFF;
  padding: 9px 15px;
  gap: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 768px) {
  .top-faq_qFlex {
    padding: 12px 0 15px 30px;
  }
}

.top-faq_a {
  font-size: 24px;
  line-height: 1.3333333333;
  color: #FF8955;
}

.top-faq_aFlex {
  background-color: #F0F9FC;
  padding: 6px 0 0 15px;
  gap: 17px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: none;
}
@media (min-width: 768px) {
  .top-faq_aFlex {
    padding: 15px 0 0 30px;
    gap: 20px;
  }
}

.top-faq_ansText {
  font-weight: 500;
  line-height: 1.3125;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.top-faq_ansText a {
  color: #000000;
  text-decoration: underline;
}

.top-column {
  padding: 80px 0 98px 0;
}
@media (min-width: 768px) {
  .top-column {
    padding: 100px 0;
  }
}

.top-column_title {
  font-size: 38px;
  line-height: 1.3421052632;
}
@media (min-width: 768px) {
  .top-column_title {
    font-size: 28px;
    line-height: 1.3214285714;
  }
}/*# sourceMappingURL=style.css.map */